<a href="/moods/new"><button type="button" class="btn btn-default">Create A New Mood</button></a>


<% @moods.each do |mood|%>
<% if mood.user_id == @user.id %>

<center> <h1><%= mood.name %></h1>
<p style="font-size:60%;"> <a href="/moods/<%=mood.id%>/edit">Edit Mood   </a> 
  <a href="/moods/<%=mood.id%>/delete">Delete Mood   </a>
  <a href="moods/new/<%=mood.id%>"> New Mood   </a></p> </center>

<% mood.haikus.each do |haiku| %>
<center> <h4></i> <%= haiku.name %> </h4>
<p style="font-size:60%;"> <a href="/haikus/<%= haiku.id %>/edit">Edit Haiku   </a>
<a href="/haikus/<%= haiku.id %>/delete">Delete Haiku   </a> </p></center>

<% end %>
<% end %>
<% end %>